<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - SP21 WEEK08 Midterm</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/github-gist.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lemon&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet">


<div id="app">
  <h1>{{title}}</h1>
  <div class = "big-container">
     <div class="left">
       <input v-model="name" placeholder="Give me a name">
       <p>NAME: {{name}}</p>
       <p>ACTING: {{acting}}</p>
       <p>SINGING: {{singing}}</p>
       <p>FAME: {{fame}}</p>
       <p>MONEY: {{money}}</p>
       <p>ENERGY: {{energy}}</p>
     </div>
  
     <div class="middle" >
         <p class="error">{{message}}</p>
       
       <img class="star" :src="normalURL" v-if="isNormal">
       <img class="star" :src="succeedURL" v-else-if="isSucceeded">
       <img class="star" :src="failURL" v-else >
       
     </div>
  
     <div class="right" >
       <p>PART-TIME JOB</p>
        <button @click="partTimeActing">Acting as an extra</button>
        <button @click="partTimeSinging">Being a harmony singer</button>
       <p>TECHNICAL TRAINING</p>
         <button @click="actingTraining">Acting training</button>
         <button @click="singingTraining">Singing training</button>
       <p>FORMAL WORK</p>
         <button @click="shootAnAd">Shoot an ad</button>
         <button @click="releaseRecord">Release record</button>
         <button @click="starredInMovie">Starred in a movie</button>
       <p>REST</p>
        <button @click="vacation">Go on a vacation</button>
     </div>
   </div>
   <footer>Game made by Michelle Lin & Tracy Zhang</footer>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script><script  src="./script.js"></script>

</body>
</html>
