h1 {
   font-size: 70px;
   font-family: 'Lemon', cursive;
   text-align: center;
   display: block;
   width: 100%;
   height: 80px;
   background-size: 200% 100%;
   background-image: -webkit-linear-gradient(left, #2F9BE3, #F57619 10%, #DE1146 20%, #F9A9BA 30%, #FFD400 40%, #2F9BE3 50%, #F57619 60%, #d71345 70%, #F9A9BA 80%, #FFD400 90%, #2F9BE3);
   color: transparent;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
   animation: masked-animation 4s infinite linear;
    }

   @keyframes masked-animation {
   0% {background-position: 0 0;}
   100% {background-position: -100% 0;}
    }


.big-container {
  display: flex;
  justify-content: center;
  background: #E3B4AA;
}


.left {
  display: flex;
  flex-direction: column;
  width: 300px;
  background: #E3B4AA;
  margin: 10px;
}

.star {
  width: 400px;
}

.error {
  text-align: center;
}

.middle {
  width: 400px;
  margin: 10px;
  background: white;
}

.right {
  width: 300px;
  background: #E3B4AA;
}

input {
  height: 25px;
  border-radius: 10px;
  border: none;
  margin: 8px;
}

button {
  height: 30px;
  background: #FFDBDB;
  border-radius: 10px;
  font-size: 15px;
  color: #C91313;
  cursor: pointer;
  margin: 2px;
  border: none;
}
button:hover {
  background: white;
}

#app {
  font-family: 'Days One', sans-serif;;
  font-size: 20px;
  color: #A50039;
}

footer {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
}

p{
  margin-bottom: 10px;
}